@import "./src/styles/common";

.tableWrapper {
  display: flex;
}

.table {
  width: 100%;
  height: 1px;
  border: 1px solid #eaeeef;

  thead {
    height: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;

    th {
      color: $gray-500;
      background: $light-gray-500;
      border-bottom: 1px solid $light-gray-600;
      position: sticky;
      top: 0;
      z-index: 2;

      button {
        margin-left: 1px;
        vertical-align: middle;
      }
    }
  }

  tbody {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    tr {
      height: 80px;

      &:not(:last-child) {
        border-bottom: 1px solid $light-gray-500;
      }
    }
  }

  thead th,
  tbody td {
    vertical-align: middle;
    text-align: left;
  }

  th, td {
    padding-right: 10px;
  }

  th:first-child,
  td:first-child {
    padding-left: 10px;
  }

  td {
    font-weight: 500;
    font-size: 12px;
    line-height: 14.12px;
    color: #2d2d2d;
  }
} // end table //*

.row {
  background: $light-gray-100;

  &.hidden {
    display: none;
  }

  &.checked {
    background-color: #e9f2f3;
  }
}
